BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

BinPackArguments: false
BinPackParameters: false
